html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1A1A1A;
  color: #CCC;
  font-family: Helvetica, Arial, sans-serif;
  margin: 20px;
}

.main {
  width: 700px;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
   -khtml-user-select:   none;
     -moz-user-select:   none;
      -ms-user-select:   none;
          user-select:   none;
}

#info {
  width: 300px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

h2 {
  font-weight: normal;
  letter-spacing: 1.5px;
  font-size: 24px;
  line-height: 24px;
  color: #b4dad3;
  margin-bottom: 10px;
}

.byline {
  color: #555;
  margin: 0;
}

#canvas {
  box-sizing: border-box;
  border: 1px solid #2A2A2A;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.50);
  transform-origin: center right;
  right: 0;
}

@media (min-height: 640px) {
  .main {
    width: 900px;
  }

  #canvas {
    transform: translateY(-50%) scale(0.75);
  }
}

@media (min-height: 800px) {
  .main {
    height: 800px;
    width: 1100px;
  }

  #canvas {
    transform: translateY(-50%) scale(1);
  }
}

.options {
  margin-top: 60px;
}

button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  background-color: #333;
  color: #CCC;
  padding: 8px 12px;
  margin: 0 5px;
  transition: background-color 75ms;
  cursor: pointer;
  min-width: 100px;
}
  button:first-of-type {
    margin-left: 0;
  }
  button:focus {
    outline: 0;
  }
  button:hover {
    background-color: #3f3f3f;
  }